.InputSearch{
  input{
    padding: 1.5rem;
    font-size: 2rem;
    outline: 0;
    border-radius: 0.5rem;
    border: 1px solid #f2f2f2;
    margin-right: 1rem;
  }
  button{
    background: white;
    border: 1px solid #f2f2f2;
    padding: 1.5rem 2rem;
    font-size: 2rem;
    font-weight: 700;
    outline: 0;
  }
}


