.CityCell{
  background: white;
  border: 1px solid #f2f2f2;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.stateName{
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0.25rem;
}

.cityNames{
  font-weight: 400;
  font-size: 1.8rem;
}